<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ servername }}
  DocumentRoot "{{ documentroot }}"
  ServerAdmin {{ serveradmin }}
  CustomLog {{ accesslog }} combined
  ErrorLog {{ errorlog }}
  <Directory "{{ filetypes | default("index.php index.html")}} {{ documentroot }}">
    AllowOverride {{ allow_override | default(apache_allow_override) }}
    Options {{ options | default(apache_options) }}
    Require all granted
  </Directory>
{% if extra_parameters is defined %}
  {{ extra_parameters }}
{% endif %}
</VirtualHost>